@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 37, 37, 37;
}

@font-face {
    font-family: 'Xolonium';
    src: url('./lib/fonts/Xolonium-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Xolonium';
    src: url('./lib/fonts/Xolonium-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
